<p>
  <strong><%= t'rooms.show.title' %></strong>
  <%= @room.title %>
</p>

<p>
  <strong><%= t'rooms.show.location' %></strong>
  <%= @room.location %>
</p>

<p>
  <strong><%= t'rooms.show.description' %></strong>
  <%= @room.description %>
</p>

<%= link_to t('rooms.show.edit'), edit_room_path(@room) %> |
<%= link_to t('rooms.show.back'), rooms_path %>
